name: Deploy to EC2

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: Restart Application with PM2
        run: |
          PROJECT_PATH=$(pwd)
          pm2 delete nest-app || true
          pm2 start $PROJECT_PATH/dist/main.js --name "nest-app"
          pm2 save
